pbr~=5.11.1
setuptools==68.0.0
fixtures~=4.1.0
testresources~=2.0.1
testtools~=2.6.0
testscenarios~=0.5.0
six~=1.16.0
wheel==0.40.0
osprofiler~=4.0.0
SQLAlchemy~=2.0.17
oslo.db~=13.0.1
oslo.serialization~=5.1.1
alembic~=1.11.1
stevedore~=5.1.0
WebOb~=1.8.7
iso8601~=2.0.0
oslo.i18n~=6.0.0
oslo.context~=5.1.1
pytz~=2023.3
passlib~=1.7.4
jsonschema~=4.17.3